.about-page-header-starter {
    padding-top: 4.8%;
    margin-bottom: 20px;

    .header-starter-container {
        background: url(https://www.goacarrepair.com/upload/bannerimage/d548373f1789a32c938a0351a73de011.webp) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
        
        h2 {
            font-weight: bold;
            font-size: 4rem;
            color: white;
        }

        button {
            font-weight: bold;
            color: $secondary-color;
            font-size: 1rem;
            border: 1px solid $secondary-color;

            &:hover {
                background-color: $secondary-color;
                color: white;
            }
        }
    }

}

.services-container {
    a{
        text-decoration: none;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    .service {
        display: flex;
        padding: 20px;
        gap: 10px;
        // width: 32%;
        width: 415px !important;
        background-color: #F2F2F2;

        .image {
            width: 20%;
        }

        .about {
            .description{
                color: $secondary-color;
            }

            .title {
                font-weight: bold;
                font-size: 18px;
                color: $secondary-color;
            }
        }
    }
}
