.blogs-section {
    padding-top: 4.8%;
    margin-bottom: 20px;

    .main-heading {
        font-weight: bold;
        font-size: 2rem;
    }

    .blogs-container {
        display: flex;
        flex-wrap: wrap;

        .blog {
            a{
                text-decoration: none;
                color: black;
            }
            width: 23%;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            padding: 10px;
            margin: 10px;
            border-radius: 10px;

            .image {

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .title {
                font-size: 1.25rem;
                font-weight: bold;
                height: 50px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .details-group {
                display: flex;
                gap: 10px;

                .logo {
                    width: 16%;
                    
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }

                .detail {

                    p {
                        margin-bottom: 0;
                    }

                    div {
                        display: flex;
                        gap: 4px;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.review-section {
    .review-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Show only 3 lines */
        -webkit-box-orient: vertical;
        font-style: italic;
    }
    
    .review-icon {
        font-weight: bold;
        font-size: 18px;
        width:50px; 
        height:50px;
        display:flex; 
        align-items:center; 
        justify-content:center;
    }
    
}