// style.scss

@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'utilities';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/navbar';
@import 'components/button';

// Pages
@import 'pages/home';
@import 'pages/contact';
@import 'pages/gallery';
@import 'pages/services';
@import 'pages/about';
@import 'pages/blog';
@import 'pages/singleBlog';
@import 'pages/singleService';

// Admin Pages

@import 'pages/admin/service/create';
@import 'pages/admin/sidebarAdmin';

